﻿<div class="confirmation">
    <img class="mb-3" height="128" width="128" src="~/Content/Images/success.png" />
    <h2>Thank you for you order!</h2>
    <a class="btn btn-warning mt-4" href="@Url.Action("Index", "Rental")">Go To My Rentals</a>   
</div>
