﻿@model IEnumerable<EquipmentRental.Models.Equipment>

@{
    ViewBag.Title = "Equipments";
}

<div class="card-columns">
    @foreach (var equipment in Model)
    {
        <div class="card">
            <img class="card-img-top img-fluid" src="@equipment.ImgSource" alt="@equipment.Name">
            <div class="card-body">
                <h5 class="card-title">@equipment.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@equipment.EquipmentType.ToString()</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="btn btn-primary btn-block basket-button" data-selector="#modalContent" data-modal-type="modal-sm" data-href="@Url.Action("AddRentalDays", "Basket", new { equipmentId = equipment.Id })" data-toggle="modal" data-target="#equipmentModal">Add to basket</button>
            </div>
        </div>
    }
</div>