﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/styles.css")">
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    @if (IsSectionDefined("navigation"))
    {
        @RenderSection("navigation");
    }
    else
    {
        @Html.Action("Navigation", "Shared", new { selectedItem = "Equipments" })
    }

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer class="d-flex justify-content-center bg-dark">
        <p>&copy; @DateTime.Now.Year - Equipment Rental</p>
    </footer>

    @Html.Partial("_Modal")
    @Scripts.Render("~/bundles/all")
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        equipmentrental.common.subscriber.subscribe();
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
