﻿@model EquipmentRental.ViewModels.NavigationBarViewModel

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="@Url.Action("Index","Equipment")">
            <img src="~/Content/Images/logo.png" width="45" height="45" class="d-inline-block align-top" alt="Brand logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                @foreach (var menuItem in Model.MenuItems)
                {
                    <li class="nav-item @(menuItem.Selected ? "active" : string.Empty)">
                        <a class="nav-link" href="@menuItem.NavigateUrl">@menuItem.Text</a>
                    </li>
                }
            </ul>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link basket-button" data-toggle="modal" data-modal-type="modal-lg" data-selector="#modalContent" data-href="@Url.Action("Basket", "Basket")" data-target="#equipmentModal" href="#">
                    <i class="fas fa-shopping-basket fa-lg"></i>
                    <span id="shoppingBasketItems" class="badge badge-warning badge-pill">@Model.BasketItemsCount</span>
                </a>
            </li>
        </ul>
    </div>
</nav>