﻿@model IEnumerable<EquipmentRental.Models.Rental>

@{
    ViewBag.Title = "Rentals";
    var i = 0;
}

@section navigation{
    @Html.Action("Navigation", "Shared", new { selectedItem = "Rentals" });
}

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-success pull-right mb-4" href="@Url.Action("Invoice", "Rental")">Download Invoice <i class="fa fa-download" aria-hidden="true"></i></a>
    </div>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th>Image</th>
            <th>Name</th>
            <th>Type</th>
            <th>Date</th>
            <th>Rental Days</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rental in Model)
        {
            foreach (var rentalDetail in rental.RentalDetails)
            {
                <tr>
                    <th scope="row">@(++i)</th>
                    <td>
                        <img src="@rentalDetail.Equipment.ImgSource" alt="@rentalDetail.Equipment.Name" height="45" width="45" style="object-fit: contain" />
                    </td>
                    <td>@rentalDetail.Equipment.Name</td>
                    <td>@rentalDetail.Equipment.EquipmentType.ToString()</td>
                    <td>@rental.StartDate.ToString("dd-MM-yyyy")</td>
                    <td>@rentalDetail.RentalDays</td>
                </tr>
            }
        }
    </tbody>
</table>